@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(+100%);
    }
    100% {
        transform: translateX(0);
    }
}

.ui.header {
    color: white;
}

.headerL {
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1s ease-out 0s 1 slideInFromLeft;
    color: #fff;
    padding: 30px;
}

.headerR {
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1.2s ease-out 0s 1 slideInFromRight;
    color: #fff;
    padding: 30px;
}