.ui.text.container {
    max-width: 1200px;
}


/* Image border */

.imageStyling {
    border: 5px solid #dddbd9;
    margin-bottom: .5em;
}


/* Minimum height of image */

.ui.image img,
.ui.image svg {
    min-height: 300px;
}


/* min-height needs to be changed back to auto on smaller screens */

.column p {
    min-height: 15em;
}

.Typist {
    font-size: 2em;
}