.projects {
    color: #fff;
    text-align: center;
    margin: 0 auto;
}


/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_opacity */


/* overlay effect  */

.image {
    opacity: 1;
    display: block;
    min-width: 100%;
    min-height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit: cover;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.overlay {
    width: 100%;
    height: 100%;
}

.overlay:hover .image {
    opacity: 0.3;
}

.overlay:hover .middle {
    opacity: 1;
}

.text {
    /* background-color: grey; */
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}