#app {
    background: #36d1dc;
    /* fallback for old browsers */
    background: -webkit-linear-gradient( to top, #5b86e5, #36d1dc);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( to top, #5b86e5, #36d1dc);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.projects {
    /* color: #fff; */
    text-align: center;
    margin: 0 auto;
    width: 95%;
}

.image {
    height: 50%;
    width: 100%;
}

.ui.card>.image>img,
.ui.cards>.card>.image>img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}