/* Overlay Effect on Tech Stack Icons */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.overlayEffect:hover .overlay {
    /* display: block; */
    background: rgba(0, 0, 0, .3);
}

.title {
    position: absolute;
    width: 90%;
    top: 25%;
    font-weight: 700;
    font-size: 1.25em;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
    opacity: 0;
}

.overlayEffect:hover .title {
    opacity: 1;
}

.overlayEffect:hover .button {
    opacity: 1;
}


/* End of Overlay Effect on Tech Icons */