body {
    font-family: 'Orbitron', sans-serif;
    font-size: 14px;
}

#app {
    background-color: black;
    /* background: #36d1dc;  */
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to top, #5b86e5, #36d1dc); */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to top, #5b86e5, #36d1dc); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* each div takes up the entire page */

.home,
.contact {
    /* Height and width fallback for older browsers. */
    height: 100%;
    width: 100%;
    /* Set the height to match that of the viewport. */
    height: 100vh;
    /* Set the width to match that of the viewport. */
    width: 100vw;
    /* Remove any browser-default margins. */
    margin: 0;
}