body {
    font-family: 'Orbitron', sans-serif;
    font-size: 14px;
}


/* each div takes up the entire page */

.home,
.contact {
    /* Height and width fallback for older browsers. */
    height: 100%;
    width: 100%;
    /* Set the height to match that of the viewport. */
    height: 100vh;
    /* Set the width to match that of the viewport. */
    width: 100vw;
    /* Remove any browser-default margins. */
    margin: 0;
}