body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#app {
    background: url('./static/img/pacmanbg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* each div takes up the entire page */

.home,
.contact,
.projects {
    /* Height and width fallback for older browsers. */
    height: 100%;
    width: 100%;
    /* Set the height to match that of the viewport. */
    height: 100vh;
    /* Set the width to match that of the viewport. */
    width: 100vw;
    /* Remove any browser-default margins. */
    margin: 0;
}